<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lucky Holes</title>
  
  <!-- HTML -->
  
  <!-- Custom Styles -->
  <link rel="stylesheet" href="style.css">
  
  <!-- Vue CDN -->
  <!-- <script src="https://unpkg.com/vue"></script> -->
  <script src="vue.js"></script>
</head>

<body>

 <div id="interface">
    <div id="container">
      <div id="header">
        <div id="gameName"><h2>Lucky Holes</h2></div>
        <div id="wRecord">
          <h4>Record</h4>
          <h3>{{ record }}</h3>
        </div>
      </div>
      <div id="score-container">
        <h2 id="textScore">Score</h2>
        <p id="amountAdded" v-show="!addOn">+200</p>
        <h1 id="playerScore">{{ pscore }}</h1>
      </div>
      <div id="holes">
        <div id="hole 1" class="h" @click="holeOne"></div>
         <div id="hole 2" class="h" @click="holeTwo"></div>
        <div id="hole 3" class="h" v-if="!toTwo" @click="holeThree"></div>
        <div id="hole 4" class="h" v-if="!toThree" @click="holeFour"></div> 
        <div id="hole 5" class="h" v-if="!toFour" @click="holeFive"></div>
        <div id="hole 6" class="h" v-if="!toFive" @click="holeSix"></div>
      </div>
    </div>
 </div>
  <!-- Project -->
  <script src="main.js"></script>
</body>
</html>