/* body {
    font-size: 15pt;
    margin: 0px;
    width: 100%;
}
#header {
  height: 70px;
  width: 100%;
  margin: 0px;
  display: inline-grid;
  grid-template-columns: 64% 36%;
  background-color: #00719DFF;
  padding: 10px;
  color: white;
}

#game-name {
  width: 95%;
}
#player-score {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -8px;
}
#player-score > h4 {
  margin-top: -15px;
}

#body {
  margin: 7%;
  width: 100%;
  position: absolute;
}

#holes {
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  position: relative;
  
}
 
.h {
  width:  100%;
  height: 45px;
  border-radius: 70%;
  background-color: limegreen;
}
*/
html {
 /* height: auto; */
  height: 100%;
  max-width: 100%;
  width: auto;
  margin: 0;
}
#interface, #container, #endGame {
  position: fixed;
  width: 100%;
  height: inherit;
}
@media (max-width : 450px) {
  body {
    width: inherit;
    height: inherit;
    background-size: cover;
    background-image: URL("imgs/boxroomOneMobile.png");
    background-repeat: no-repeat;
    background-color: blue;
     position: fixed; 
    top: 0;
    bottom: 0;
  }
  #endGame {
    width: inherit;
    height: inherit;
    background-size: cover;
    background-image: URL("imgs/GameOver.png");
    background-repeat: no-repeat;
    background-color: #E3054FFF;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: 0;
    margin-left: -8px;
    text-align: center;
  }
  #endGame > button {
    position: relative;
    top: 50%;
    border-radius: 6px;
    height: 30px;
    font-size: 20px;
    border: 2px solid black;
    background: aliceblue;
    color: black;
  }
  #header {
    height: 6vh;
    width: 95%;
   /* background-color: #FFFF66; */
    margin: 0px;
    position: absolute;
    display: grid;
    grid-template-columns: 60% 40%;
    /* padding: 5px 40px 5px 30px;*/
  }
  #gameName {
   /*  background-color: #ccc; */
    text-align: center;
  }
  #wRecord {
    /* background-color: #ddd; */
    text-align: center;
    margin-top: -8px;
  }
  #wRecord > h3 {
    margin-top: -18px;
  }
  #score-container {
    width: 98%;
    position: absolute;
    top: 35vh;
    background-color: peach;
  }
  #score-container > h1 {
    font-size: 60px;
    margin-top: -25px;
  }
  #score-container > p {
    margin-top: -28px;
    margin-left: -5px;
  }
  #score-container > h2 {
    font-size: 35px;
  }
}
@media (min-width: 450px) {
  body {
   width: inherit;
   height: inherit;
   background-size: cover;
   background-image: URL("imgs/boxroomOne.png");
   background-repeat: no-repeat;
   background-color: blue;
   position: fixed;
   top: 0;
   bottom: 0;
  }
}

#gameName  {
  color: #36835CFF;
}
#wRecord {
  color: #fff;
}
#score-container {
  color: #fff;
  text-align: center;
}
#holes {
  width: 74%;
  /* background-color: pink; */
  height: 10vh;
  display: inline-flex;
  position: absolute;
  bottom: 4vh;
  margin-left: 12vw;
}

.h {
  width: 100%;
  height: 50px;
  /* border-radius: 70%; */
  background-size: contain;
  background-image: URL("imgs/hole.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  /* background-color: limegreen; */
  margin: 5px 1px;
}
